body {
    color: #D3D3D3; /* Color gris claro   color: #D3D3D3;  Otro tono de gris claro */
    margin: 0;
    padding: 0;
    background-image: url('fondo_cajas.jpg');
    background-size: cover; /* Para que la imagen cubra toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en la pantalla */

    font-family: Arial, sans-serif;
    padding: 32px;
}


.corner-image {
    position: absolute;  /* Posiciona la imagen de forma absoluta */
    bottom: 8vh;        /* Coloca la imagen en la esquina inferior */
    left: 7vh;         /* Coloca la imagen en la esquina derecha */
    width: 20vh;         /* Define un tamaño pequeño para la imagen */
    height: auto;        /* Mantiene la proporción de la imagen */
}


a {
    color: #D3D3D3; /* Cambia este código hexadecimal por el color que prefieras */
    
}


label {
    color: #FFFFFF; /* Cambia el color del texto de las etiquetas a negro */
    font-size: 21px; /* Cambia el tamaño de fuente de las etiquetas */
font-weight: bold; /* Pone en negrita el texto de las etiquetas */
}



input[type="text"],
input[type="password"] {
    color: #745d58; /* Cambia el color del texto en los campos de entrada a negro */
    border: 3px solid #D3D3D3; /* Opcional: Cambia el color del borde de los campos de entrada a negro */
font-weight: bold; /* Pone en negrita el texto de las etiquetas */
    font-size: 21px; /* Cambia el tamaño de fuente en los campos de entrada */
    padding: 8px; /* Opcional: Ajusta el relleno dentro de los campos de entrada para mejor apariencia */
    width: 100%; /* Opcional: Ajusta el ancho de los campos de entrada para que se adapten al contenedor */


}







h1 {
color: #E0E0E0; /* Un gris claro */
    font-size: 28px;
}

form {
    max-width: 300px;
    margin: auto;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


