body {
color: #D3D3D3; /* Otro tono de gris claro */
    margin: 0;
    padding: 0;
    background-image: url('fondo_cajas.jpg');
    background-size: cover; /* Para que la imagen cubra toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en la pantalla */

    font-family: Arial, sans-serif;
    padding: 25px;
}


.corner-image {
    position: absolute;  /* Posiciona la imagen de forma absoluta */
    bottom: 8px;        /* Coloca la imagen en la esquina inferior */
    left: 15px;         /* Coloca la imagen en la esquina derecha */
    width: 170px;         /* Define un tamaño pequeño para la imagen */
    height: auto;        /* Mantiene la proporción de la imagen */
}






h1 {
color: #E0E0E0; /* Un gris claro */
    font-size: 25px;
}

form {
    max-width: 300px;
    margin: auto;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


